<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>


<div id="app" class="wrapper">

    <form @submit.prevent="addPlayer">

        <div class="row">
            <div class="col-md-2">
                <input class="form-control" v-model="newPlayer">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary">Add player</button>
            </div>
        </div>
    </form>

    <div class="container">
        <div class="section sction-lg">
            <div class="row justify-context-center text-center">
                <div class="col-lg-8 text-center">
                    <table class="table">
                        <thead>
                            <th>Player</th>
                            <th>Score</th>
                        </thead>
                        <tr v-for="player in players" :key="player.id">
                            <td class="text-center">{{ player.name }}</td>
                            <td class="text-center" :class="{negative: player.score < 0}">{{ player.score }}</td>
                            <td class="text-center">
                                <button class="btn btn-primary btn-lg btn-primary" @click="addScore(player.id, 10)">
                                    Win !
                                </button>
                                <button class="btn btn-primary btn-lg btn-warning" @click="addScore(player.id, -10)">
                                    Loss !
                                </button>
                                <button class="btn btn-primary btn-lg btn-success" @click="addScore(player.id, 15)">
                                    Black jack !
                                </button>
                                <button class="btn btn-primary btn-lg btn-danger"
                                    @click="removePlayer(player)">X</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    let id = 0
    const { createApp } = Vue

    createApp({
        data() {
            return {
                newPlayer: '',
                players: [],
            }
        },
        methods: {
            addPlayer() {
                this.players.push({ id: id++, name: this.newPlayer, score: 0 })
                this.newPlayer = ''
            },
            addScore(player, score) {
                for (i = 0; i < this.players.length; i++) {
                    if (this.players[i].id === player) {
                        this.players[i].score += score;
                        return;
                    }
                }
            },
            removePlayer(player) {
                this.players = this.players.filter((t) => t !== player)
            }
        }
    }).mount('#app')
</script>

<style>
    @import './css/argon-design-system.css?v=1.2.2';
    @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
    @import 'https://use.fontawesome.com/releases/v5.0.6/css/all.css';

    .negative {
        color: red;
    }
</style>